* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
header {
  padding: 16px 16px 45px 16px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-started {
  padding: 10px 24px;
  background: #13183f;
  font-weight: 700;
  border-radius: 28px;
  color: #ffffff;
  text-decoration: none;
}
.get-started:hover,
.get-started:active {
  background: #666ca3;
}

.container__heading {
  padding: 0 16px;
}
.container__heading h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  color: #13183f;
}
.container__heading p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  margin: 26px 0 24px 0;
}

.container__photo img {
  max-width: 100%;
}
.container__heading a {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  padding: 16px 38px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  color: #ffffff;
}
.container__heading a:hover,
.container__heading a:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.check-out-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 16px 80px 16px;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.check-out-section__cource {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 10px;
  padding: 56px 29px 32px 28px;
  position: relative;
}
.check-out {
  padding: 24px 29px 32px 28px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
}
.check-out h2 {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.check-out-section h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: #13183f;
}
.check-out-section p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #83869a;
  margin: 16px 0 24px 0;
}
.check-out-section a {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
  text-decoration: none;
}
.check-out-section a:hover,
.check-out-section a:active {
  color: #ffa7c3;
}
.check-out-section img {
  position: absolute;
  top: -24px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 16px;
  background: #13183f;
}
footer a {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  text-decoration: none;
  padding: 10px 24px;
}
footer a:hover,
footer a:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

/* responsive design for tablet*/
@media (min-width: 768px) {
  body {
    background-image: url(../assets/image-hero-tablet.png);
    background-repeat: no-repeat;
    background-position: right -298px top -92px;
  }
  header {
    padding: 24px 40px 99px 39px;
  }
  .maximize-skill {
    padding-bottom: 186px;
  }
  .container__heading {
    padding: 0 39px;
  }
  .container__heading p {
    max-width: 398px;
  }
  .container__photo {
    display: none;
  }
  .check-out-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 56px 11px;
    padding: 24px 40px 86px 39px;
  }
  .check-out {
    padding: 56px 21px 139px 32px;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url(../assets/image-hero-desktop.png);
    background-position: right -323px top -130px;
  }
  header {
    padding: 24px 165px 186px 165px;
  }
  .get-started {
    font-size: 18px;
    line-height: 28px;
    padding: 14px 31px;
  }
  .maximize-skill {
    padding-bottom: 250px;
  }
  .container__heading {
    padding: 0 165px;
  }
  .container__heading h1 {
    font-size: 56px;
    line-height: 71px;
  }
  .container__heading p {
    font-size: 18px;
    line-height: 28px;
    margin: 29px 0 40px 0;
    max-width: 445px;
  }
  .container__heading a {
    font-size: 18px;
    line-height: 28px;
    padding: 19px 31px 16px 32px;
  }
  .check-out-section {
    grid-template-columns: repeat(3, 1fr);
    padding: 24px 165px 140px 165px;
    gap: 80px 30px;
  }
  .check-out {
    padding: 64px 32px 132px 32px;
  }
  .check-out h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .check-out-section__cource {
    padding: 64px 32px 40px 32px;
  }
  .check-out-section h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .check-out-section p {
    font-size: 18px;
    line-height: 28px;
  }
  .design-link,
  .photograpy-link {
    display: inline-block;
    margin-top: 28px;
  }
  footer {
    padding: 32px 165px;
  }
  footer a{
    font-size: 18px;
    padding: 14px 31px;
  }
}
